@import url(https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;800;900&display=swap);

$Main-font: 'Jost', sans-serif ;

$Branco: #D9D9D9;
$BrancoClaro: #E8E8E8;
$BrancoEscuro: #BFBFBF; 

$Preto: #080808;
$PretoClaro: #212121;
$PretoEscuro: #000000;

$Roxo: #4B0AA6;
$RoxoClaro: #621FBF;
$RoxoEscuro: #3A008C;

$Rosa: #B015D1;
$RosaClaro: #CA2FEB;
$RosaEscuro: #9300B3;

$Vermelho: #E62633;
$VermelhoClaro: #FF4551;
$VermelhoEscuro: #CC101D;

$Laranja: #F9884E;
$LaranjaClaro: #FF9C69;
$LaranjaEscuro: #D9662B;