@import 'colors_fonts';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    background-color: $Preto;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
}

.StarBackground{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.blinking-star {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
    animation-direction: alternate;
    position: relative;
}

.star {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: both;
    animation-direction: alternate;
    position: relative;
    &::after,&::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "\2726";
        font-size: 2.5vw;
    }
    &::after{
        background: $Branco;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    100% {
        transform: scale(1.1);
    }
}

header{
    min-width: 1200px;
    width: 75%;
    height: 17vh;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 999;
    nav{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        ul{
            width: 100%;
            display: flex;
            align-items: center;
            margin: 0;
            li{
                padding: 0.5vh 1vw;
                margin:0 0.5vw;
                &:nth-child(2){
                    margin-left: auto;
                }
                a{
                    color: $Branco;
                    font-weight: 500;
                    font-size: 1.4vw;
                    &:hover{
                        color: $LaranjaEscuro;
                    }
                } 
            }
            .logo{
                width: 6vw;
                img{
                    width: 100%;
                }
            }
            .blogDrop{
                position: relative;
                padding-right: 2vw;
                display: flex;
                align-items: center;
                a{
                    &:nth-child(2){
                        position: absolute;
                        right: 0;
                        padding: 0 0.25vw 0 2vw;
                        svg{
                            width: 1.5vw;
                        }
                    }
                    
                }
                .dropdown-menu{
                    background: none;
                    border: solid 1px $Branco;
                    padding: 1vh 0.5vw;
                    border-radius: 1vw;
                    margin-left: -6vw;
                    margin-top: 1vh;
                    .dropdown-item{
                        padding:0.5vh 0.25vw;
                        color: $Branco;
                        &:nth-child(2){
                            position: relative;
                        }
                        &:hover{
                            background-color: $PretoClaro;
                        }
                    }
                }
                
            }
            
        }
    }
}