@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;800;900&display=swap);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none !important;
}

.hide {
  opacity: 0;
  display: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #FF9C69;
}

::-webkit-scrollbar-thumb {
  background: #D9662B;
  border-radius: 5vw;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes foguete_subindo {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-125vh);
    opacity: 0;
  }
}
@keyframes Sobe_foguete {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-17vh);
    opacity: 1;
  }
}
body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Jost", sans-serif;
  background-color: #080808;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
body .blinking-star {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction: alternate;
  position: relative;
}
body .star {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction: alternate;
  position: relative;
  width: 1.5vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .star::after, body .star::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "✦";
}
body .star::after {
  background: #D9D9D9;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .StarBackground {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
body .StarBackground svg, body .StarBackground img {
  width: 100%;
  height: 100vh;
}
body .StarBackground svg:nth-child(6), body .StarBackground img:nth-child(6) {
  height: 50vh;
}
body .toTop {
  display: none;
  position: fixed;
  right: 1.5vw;
  bottom: 2vh;
  z-index: 998;
  cursor: pointer;
  width: 3.5vw;
  height: 11vh;
}
body .toTop .foguete {
  width: 100%;
  height: 100%;
}
body .toTop .foguete path {
  fill: #D9D9D9;
}
body .toTop .subindo {
  animation: foguete_subindo 1.25s;
}
body header {
  min-width: 1200px;
  width: 75%;
  height: 17vh;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 999;
  position: absolute;
  top: 0;
}
body header nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
body header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
body header nav ul li {
  padding: 0.5vh 1vw;
  margin: 0 0.5vw;
}
body header nav ul li:nth-child(2) {
  margin-left: auto;
}
body header nav ul li a {
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.4vw;
}
body header nav ul li a:hover {
  color: #D9662B;
}
body header nav ul .logo {
  width: 5.5vw;
}
body header nav ul .logo img {
  width: 100%;
  height: auto;
}
body header nav ul .blogDrop {
  position: relative;
  padding-right: 3vw;
  display: flex;
  align-items: center;
}
body header nav ul .blogDrop a:nth-child(2) {
  position: absolute;
  right: 0;
  padding: 0 0.25vw 0 1.5vw;
}
body header nav ul .blogDrop a:nth-child(2) svg {
  width: 1.4vw;
}
body header nav ul .blogDrop .dropdown-menu {
  background: none;
  border: solid 1px #D9D9D9;
  padding: 1vh 0.5vw;
  border-radius: 1vw;
  margin-left: -8vw;
  margin-top: 1.5vh;
  background-color: #212121;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item {
  padding: 0.75vh 0.5vw;
  color: #D9D9D9;
  border-radius: 1vw;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item:nth-child(2) {
  position: relative;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item:hover {
  background-color: #080808;
}
body header nav ul .blogDrop:hover a:nth-child(2) svg path {
  fill: #D9662B;
}
body section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
body .banner {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: #D9D9D9;
  padding: 1vw;
}
body .banner .infos {
  width: 50%;
  height: 80vh;
  margin-top: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2vw;
}
body .banner .infos h1 {
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 200;
  margin-bottom: 5.5vh;
  animation: floater 5s ease-in-out infinite;
}
body .banner .infos h1 b {
  font-weight: 800;
}
body .banner .infos h2 {
  font-weight: 200;
  font-size: 2.5vw;
  margin-bottom: 8vh;
  animation: floater 4.8s ease-in-out infinite;
}
body .banner .infos h2 b {
  font-weight: 800;
}
body .banner .infos .botao {
  background-color: #D9662B;
  padding: 0.5vh 0;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.5vw;
  margin: 0 10vw 0 0;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
}
body .banner .infos .botao:hover {
  background-color: #FF9C69;
  transform: translateY(5px);
}
body .banner .ilustra {
  height: 80vh;
  width: 45.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 101, 43, 0.5);
  font-size: 1.5vw;
  padding: 3vw;
  margin: 17vh 0 7vh 3vw;
  text-align: center;
  border-radius: 2.5vw;
}
body .blog {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
body .blog h2 {
  text-align: center;
  color: #D9D9D9;
  font-weight: 800;
  font-size: 2.5vw;
  padding: 0.5vh 0;
  margin-bottom: 4vh;
}
body .blog .MenuBlog {
  display: flex;
  justify-content: center;
}
body .blog .MenuBlog a {
  text-align: center;
  width: 15vw;
  color: #D9D9D9;
  padding: 1vh 2.5vw;
  font-size: 1.3vw;
  margin: 0 0.5vw;
  border: solid 1px #D9D9D9;
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  font-weight: 800;
}
body .blog .MenuBlog .active {
  background-color: #3A008C;
  border: none;
}
body .blog .TabsBlog {
  margin-bottom: 1vh;
  height: 70vh;
}
body .blog .TabsBlog .tab-pane {
  height: 100%;
}
body .blog .TabsBlog .tab-pane .boxCards {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: start;
  padding: 3vh 0 0 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog {
  width: 32%;
  height: 60vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog::before {
  content: "";
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .imgBlog {
  width: 100%;
  height: 70%;
  border-radius: 2.1vw;
  background-color: #BFBFBF;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .imgBlog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons {
  display: flex;
  flex-direction: column;
  border: solid #D9D9D9 1px;
  position: absolute;
  top: 0;
  right: 0;
  color: #D9D9D9;
  padding: 1.5vh 0.5vw;
  margin: 0;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons .iconInfo {
  padding: 0.5vh 0.5vw;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.25s;
  z-index: 3;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons .iconInfo svg {
  width: 1.25vw;
  padding: 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons .iconInfo svg path {
  fill: #D9D9D9;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.5);
  z-index: 1;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  top: 0;
  right: 0;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active {
  border: none;
  background-color: #3A008C;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo {
  padding: 0.5vh 0.5vw;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo svg {
  width: 1.4vw;
  padding: 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo .hide {
  display: block;
  opacity: 1;
  font-size: 1.1vw;
  padding-left: 0.5vw;
  font-weight: 800;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active::before {
  display: none;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog p {
  font-size: 1vw;
  padding: 1.5vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog h3 {
  font-size: 1.5vw;
  padding: 0 1.5vw;
  margin: 1vh 0 0 0;
  line-height: 1.5vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .menor {
  width: 29%;
  height: 58vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .menor p {
  font-size: 0.75vw;
  padding: 2vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
}
body .blog .TabsBlog .tab-pane .boxCards .menor h3 {
  font-size: 1.2vw;
  padding: 0 2.5vw 0 1.5vw;
  margin: 1vh 0 0 0;
  line-height: 1.5vw;
}
body .blog .TabsBlog .tab-pane .boxCards .maior {
  width: 38%;
  height: 65vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .maior p {
  font-size: 1.25vw;
  padding: 1.5vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
}
body .blog .TabsBlog .tab-pane .boxCards .maior h3 {
  font-size: 1.8vw;
  padding: 0 1.5vw;
  margin: 1.25vh 0 0 0;
  line-height: 1.8vw;
}
body .blog .botao {
  background-color: #3A008C;
  padding: 0.5vh 0;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.5vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  margin: 0 25vw;
  font-weight: 500;
}
body .blog .botao:hover {
  background-color: #621FBF;
  transform: translateY(5px);
}
body .inst {
  display: flex;
  padding: 5vw;
  animation: floater 2.4s ease-in-out infinite;
}
body .inst .infosInsti {
  width: 50%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .inst .infosInsti p {
  font-size: 1.5vw;
  text-align: right;
  color: #D9D9D9;
  font-weight: 200;
  padding-left: 1vw;
  line-height: 1.75vw;
  margin-bottom: 5vh;
}
body .inst .infosInsti p b {
  font-weight: 800;
}
body .inst .infosInsti .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 2vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0;
}
body .inst .infosInsti .botao:hover {
  transform: translateY(5px);
}
body .inst .imgInst {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}
body .inst .imgInst img {
  width: auto;
  height: 75%;
}
body .depos {
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
}
body .depos h2 {
  text-align: center;
  font-weight: 800;
  font-size: 2vw;
  padding: 1vh 0;
  margin: 5vh 0 1vh;
}
body .depos h4 {
  font-weight: 200;
  text-align: center;
  font-size: 1.5vw;
  padding: 0.5vh 0;
  margin-bottom: 6vh;
}
body .depos .carousel {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
}
body .depos .carousel .carousel__list {
  overflow: hidden;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}
body .depos .carousel .carousel__list .carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D9D9D9;
  width: 20vw;
  height: 47vh;
  border-radius: 1.5vw;
  position: absolute;
  transition: all 0.3s ease-in;
  padding: 0 2vw;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(1) {
  background: #D9662B;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(2) {
  background: #3A008C;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(3) {
  background: #D9662B;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(4) {
  background: #9300B3;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(5) {
  background: #3A008C;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="0"] {
  z-index: 5;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-1"], body .depos .carousel .carousel__list .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(0.05vw) grayscale(10%);
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-1"] {
  transform: translateX(-110%) scale(0.8);
  z-index: 4;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="1"] {
  transform: translateX(110%) scale(0.8);
  z-index: 4;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-2"], body .depos .carousel .carousel__list .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(0.1vw) grayscale(20%);
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-2"] {
  transform: translateX(-195%) scale(0.6);
  z-index: 3;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="2"] {
  transform: translateX(195%) scale(0.6);
  z-index: 3;
}
body .depos .carousel .carousel__list .carousel__item img {
  width: 6.5vw;
  border-radius: 1vw;
  border: solid #D9D9D9 1px;
  margin: -5vh;
  position: absolute;
  top: -1vh;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item .asp, body .depos .carousel .carousel__list .carousel__item .asp2 {
  width: 3.5vw;
  position: absolute;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item .asp path, body .depos .carousel .carousel__list .carousel__item .asp2 path {
  fill: #D9D9D9;
}
body .depos .carousel .carousel__list .carousel__item .asp {
  top: -3.5vh;
  left: -2vw;
  transform: scaleX(-1);
}
body .depos .carousel .carousel__list .carousel__item .asp2 {
  bottom: -3.5vh;
  right: -2vw;
}
body .depos .carousel .carousel__list .carousel__item p {
  font-weight: 200;
  text-align: center;
  font-size: 1.1vw;
  margin-top: 4vh;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item span {
  font-weight: 800;
  font-size: 1vw;
  pointer-events: none;
  margin-top: 2vh;
}
body .conversa {
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 5vw;
}
body .conversa h2 {
  width: 100%;
  color: #D9D9D9;
  text-align: center;
  font-weight: 800;
  padding: 1vh 0;
}
body .conversa .imgConv {
  width: 50%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 1vw;
  animation: floater 3s ease-in-out infinite;
}
body .conversa .imgConv img {
  width: auto;
  height: 80%;
}
body .conversa .infosConv {
  width: 50%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: floater 3s ease-in-out infinite;
}
body .conversa .infosConv p {
  font-size: 1.5vw;
  text-align: left;
  color: #D9D9D9;
  font-weight: 200;
  padding-left: 1vw;
  line-height: 1.75vw;
  margin-bottom: 5vh;
}
body .conversa .infosConv p b {
  font-weight: 800;
}
body .conversa .infosConv .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0;
}
body .conversa .infosConv .botao:hover {
  transform: translateY(5px);
}
body .contato {
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
body .contato h2 {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  padding: 1vh 20vh;
  margin: 1vh 0 5vh;
}
body .contato h2 b {
  font-weight: 800;
}
body .contato h3 {
  font-size: 2.4vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 0;
  margin-bottom: 3vh;
}
body .contato .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 25vw;
}
body .contato .botao:hover {
  transform: translateY(5px);
}
body footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body footer img {
  width: 12vw;
  height: auto;
  z-index: 3;
  margin-bottom: 1vh;
}
body footer .fundo {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
body footer p {
  z-index: 3;
  color: #D9D9D9;
  margin: 0;
  font-family: "Jost";
  font-weight: 800;
  font-size: 0.75vw;
}
body footer a {
  position: absolute;
  left: 1vw;
  z-index: 3;
  width: 4vw;
  height: 75%;
  padding: 0.5vh 0.5vw;
}
body footer a svg {
  width: 100%;
  height: 100%;
}

.institucional {
  position: relative;
}
.institucional .StarBackground_Insti {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.institucional .StarBackground_Insti img, .institucional .StarBackground_Insti svg {
  width: 100%;
  height: 100vh;
}
.institucional .StarBackground_Insti img:nth-child(7), .institucional .StarBackground_Insti svg:nth-child(7) {
  height: 50vh;
}
.institucional .fogueteMotion {
  width: 100vw;
  height: 662vh;
  position: absolute;
  overflow: hidden;
}
.institucional .fogueteMotion .linesvg {
  width: 100%;
  height: 650vh;
  position: absolute;
  right: 0;
}
.institucional .toTopInsti {
  display: none;
  position: fixed;
  right: 1vw;
  bottom: -15vh;
  z-index: 998;
  cursor: pointer;
  width: 6vw;
  height: 17vh;
}
.institucional .toTopInsti .foguete {
  width: 100%;
  height: 100%;
}
.institucional .toTopInsti .foguete path {
  fill: #D9D9D9;
}
.institucional .toTopInsti .subindo {
  animation: foguete_subindo 1.25s;
}
.institucional .sobe {
  animation: Sobe_foguete 1.25s;
}
.institucional .sobePara {
  bottom: 2vh !important;
}
.institucional section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
.institucional .bannerInsti {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D9D9D9;
}
.institucional .bannerInsti img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.institucional .bannerInsti h1 {
  width: 75%;
  text-align: center;
  margin: 0;
  font-size: 2.5vw;
  font-weight: 800;
  padding: 1vh 0;
}
.institucional .bannerInsti h3 {
  margin-left: 4vw;
  padding: 1vh 2vw;
  width: 37%;
  text-align: left;
  font-size: 1.7vw;
  font-weight: 200;
  line-height: 4vh;
}
.institucional .bannerInsti h3 b {
  font-weight: 800;
}
.institucional .manifesto, .institucional .sobre, .institucional .principios, .institucional .proposito, .institucional .atributos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #D9D9D9;
  font-weight: 500;
}
.institucional .manifesto .infos, .institucional .sobre .infos, .institucional .principios .infos, .institucional .proposito .infos, .institucional .atributos .infos {
  width: 50%;
  padding: 2vh 2vw;
}
.institucional .manifesto .infos h2, .institucional .sobre .infos h2, .institucional .principios .infos h2, .institucional .proposito .infos h2, .institucional .atributos .infos h2 {
  font-size: 2.5vw;
  font-weight: 800;
  padding: 1vh 0;
}
.institucional .manifesto .infos p, .institucional .sobre .infos p, .institucional .principios .infos p, .institucional .proposito .infos p, .institucional .atributos .infos p {
  font-size: 1.25vw;
  font-weight: 500;
  padding: 2vh 0 0;
}
.institucional .manifesto .infos ul, .institucional .sobre .infos ul, .institucional .principios .infos ul, .institucional .proposito .infos ul, .institucional .atributos .infos ul {
  list-style: none;
}
.institucional .manifesto .infos ul li, .institucional .sobre .infos ul li, .institucional .principios .infos ul li, .institucional .proposito .infos ul li, .institucional .atributos .infos ul li {
  font-size: 1.15vw;
  margin: 1vh 0 0 1vw;
}
.institucional .manifesto .infos ul li b, .institucional .sobre .infos ul li b, .institucional .principios .infos ul li b, .institucional .proposito .infos ul li b, .institucional .atributos .infos ul li b {
  font-size: 1.25vw;
}
.institucional .manifesto .imgBlock, .institucional .sobre .imgBlock, .institucional .principios .imgBlock, .institucional .proposito .imgBlock, .institucional .atributos .imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60vh;
}
.institucional .manifesto .imgBlock img, .institucional .sobre .imgBlock img, .institucional .principios .imgBlock img, .institucional .proposito .imgBlock img, .institucional .atributos .imgBlock img {
  width: 100%;
  height: auto;
}
.institucional .manifesto .imgBlock {
  margin-left: 1vw;
}
.institucional .principios .imgBlock {
  margin-left: 5vw;
}
.institucional .atributos .imgBlock {
  margin-left: 8vw;
}
.institucional .contatoInsti {
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
.institucional .contatoInsti h4 {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  padding: 1vh 20vh;
  margin: 1vh 0 5vh;
}
.institucional .contatoInsti h4 b {
  font-weight: 800;
}
.institucional .contatoInsti h3 {
  font-size: 2.4vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 0;
  margin-bottom: 3vh;
}
.institucional .contatoInsti .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 25vw;
}
.institucional .contatoInsti .botao:hover {
  transform: translateY(5px);
}

.servicos {
  position: relative;
}
.servicos .StarBackground_Servicos {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.servicos .StarBackground_Servicos img, .servicos .StarBackground_Servicos svg {
  width: 100%;
  height: 100vh;
}
.servicos .StarBackground_Servicos img:nth-child(3), .servicos .StarBackground_Servicos svg:nth-child(3) {
  height: 50vh;
}
.servicos section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
.servicos .servicos {
  height: 200vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #D9D9D9;
  padding: 0;
}
.servicos .servicos .carousel {
  height: 100vh;
  padding-top: 17vh;
}
.servicos .servicos .carousel h2 {
  text-align: center;
  color: #D9D9D9;
  font-weight: 800;
  font-size: 2.5vw;
  padding: 1vh 0;
  margin-bottom: 2vh;
}
.servicos .servicos .carousel p {
  text-align: center;
  font-size: 1.25vw;
  font-weight: 200;
  padding: 1vh 10vw;
}
.servicos .servicos .carousel .splide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicos .servicos .carousel .splide__track .splide__list .splide__slide {
  border: solid 1px #D9D9D9;
  height: 45vh;
  width: 20vw !important;
  display: flex;
  margin: 0 1vw;
  border-radius: 2.5vw;
  transition: ease-in-out 0.2s;
}
.servicos .servicos .carousel .splide__track .splide__list .splide__slide a {
  border-radius: 2.5vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
}
.servicos .servicos .carousel .splide__track .splide__list .splide__slide a::before {
  content: "";
  background: rgba(8, 8, 8, 0.8);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2.5vw;
}
.servicos .servicos .carousel .splide__track .splide__list .splide__slide a img, .servicos .servicos .carousel .splide__track .splide__list .splide__slide a svg {
  width: 75%;
  height: auto;
  pointer-events: none;
}
.servicos .servicos .carousel .splide__track .splide__list .splide__slide a p {
  text-align: center;
  color: #D9D9D9;
  font-weight: 200;
  margin-top: 5vh;
  font-size: 1.2vw;
  padding: 0 2vw;
  pointer-events: none;
}
.servicos .servicos .carousel .splide__track .splide__list .is-active {
  z-index: 5;
}
.servicos .servicos .carousel .splide__track .splide__list .is-active a::before {
  content: "";
  background: rgba(249, 136, 78, 0.9);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2.5vw;
}
.servicos .servicos .carousel .splide__arrows {
  justify-content: center;
  align-items: center;
  top: 0;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--next {
  right: -7vw;
  top: 50%;
  opacity: 1 !important;
  background: none;
  border-radius: 0;
  width: 6vw;
  height: 12vh;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--next svg {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--next svg path {
  fill: #E8E8E8;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--next svg:hover path {
  fill: #D9662B;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--prev {
  left: -7vw;
  top: 50%;
  opacity: 1 !important;
  background: none;
  border-radius: 0;
  width: 6vw;
  height: 12vh;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--prev svg {
  transform: scaleX(1);
  width: 100%;
  height: 100%;
  opacity: 1;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--prev svg path {
  fill: #E8E8E8;
}
.servicos .servicos .carousel .splide__arrows .splide__arrow--prev svg:hover path {
  fill: #D9662B;
}
.servicos .servicos .TabsBlog {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.servicos .servicos .TabsBlog .tab-pane {
  border-radius: 2.5vw;
  height: 90vh;
  width: 90%;
  position: relative;
}
.servicos .servicos .TabsBlog .tab-pane::before {
  content: "";
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(0.05vw);
          backdrop-filter: blur(0.05vw);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2.5vw;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .logoBox {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 10vw;
  margin-bottom: 2vh;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .logoBox img, .servicos .servicos .TabsBlog .tab-pane .boxContent .logoBox svg {
  width: auto;
  height: 11vh;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent p {
  text-align: center;
  font-size: 1.2vw;
  font-weight: 500;
  padding: 2vh 5vw;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .imgsBox {
  display: flex;
  position: relative;
  width: 106.3%;
  height: 25vh;
  margin-left: -2vw;
  overflow: hidden;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .imgsBox .imgFit {
  width: 15vw;
  height: 25vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0.5vw 0;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .imgsBox .imgFit img {
  width: 15vw;
  height: 21vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5vw;
}
.servicos .servicos .TabsBlog .tab-pane .boxContent .imgsBox .imgFit:nth-child(1) {
  margin-left: -6vw;
}
.servicos .contatoServicos {
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
.servicos .contatoServicos h4 {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  padding: 1vh 20vh;
  margin: 1vh 0 5vh;
}
.servicos .contatoServicos h4 b {
  font-weight: 800;
}
.servicos .contatoServicos h3 {
  font-size: 2.4vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 0;
  margin-bottom: 3vh;
}
.servicos .contatoServicos .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 25vw;
}
.servicos .contatoServicos .botao:hover {
  transform: translateY(5px);
}

.Palestra {
  position: relative;
}
.Palestra .StarBackground_Palestra {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.Palestra .StarBackground_Palestra img, .Palestra .StarBackground_Palestra svg {
  width: 100%;
  height: 100vh;
}
.Palestra .StarBackground_Palestra img:nth-child(6), .Palestra .StarBackground_Palestra img:nth-child(10), .Palestra .StarBackground_Palestra svg:nth-child(6), .Palestra .StarBackground_Palestra svg:nth-child(10) {
  height: 50vh;
}
.Palestra section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
.Palestra .bannerInsti {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D9D9D9;
  z-index: 10;
}
.Palestra .bannerInsti img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.Palestra .bannerInsti h2 {
  width: 75%;
  text-align: center;
  margin: 0;
  font-size: 3vw;
  font-weight: 200;
  padding: 1vh 9vw;
  color: #D9D9D9;
  line-height: 3vw;
  margin: 40vh 0 0 0;
}
.Palestra .bannerInsti h2 b {
  font-weight: 800;
}
.Palestra .intro_Palest {
  color: #D9D9D9;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}
.Palestra .intro_Palest h2 {
  text-align: center;
  font-weight: 800;
  font-size: 2.5vw;
  padding: 1vh 0;
  margin: 0 0 2vh 0;
}
.Palestra .intro_Palest p {
  text-align: center;
  font-weight: 200;
  font-size: 1.1vw;
  padding: 1.5vh 17vw;
  margin: 0 0 7vh 0;
}
.Palestra .intro_Palest .blockImgs {
  display: flex;
  position: relative;
  height: 22vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  margin: 0 0 2vh 0;
}
.Palestra .intro_Palest .blockImgs img, .Palestra .intro_Palest .blockImgs svg {
  margin: 0 0.25vw;
  width: 20%;
  height: 18vh;
}
.Palestra .intro_Palest h3 {
  text-align: center;
  font-weight: 200;
  font-size: 2.2vw;
  padding: 1vh 7vw;
}
.Palestra .intro_Palest h3 b {
  font-weight: 800;
}
.Palestra .verPalest {
  display: flex;
  flex-wrap: wrap;
  color: #D9D9D9;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.Palestra .verPalest .textInfo {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.Palestra .verPalest .textInfo h2 {
  font-weight: 800;
  font-size: 2.2vw;
  text-align: right;
  width: 100%;
  margin: 0 0 8vh 0;
  padding: 2vh 0 2vh 5vw;
}
.Palestra .verPalest .textInfo p {
  width: 95%;
  font-size: 1.25vw;
  font-weight: 200;
  margin: 0;
  padding: 1vh 1vw 12vh 8vw;
  text-align: right;
}
.Palestra .verPalest .textInfo .divisor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
}
.Palestra .verPalest .textInfo .divisor .line {
  border: solid #D9662B 1px;
  height: 2.2vh;
  width: 1.2vw;
  border-radius: 50%;
  margin-bottom: 10vh;
  margin-top: 2.3vh;
  position: relative;
}
.Palestra .verPalest .textInfo .divisor .line::before {
  content: "";
  position: absolute;
  top: 21%;
  left: 21%;
  height: 1.15vh;
  width: 0.65vw;
  border-radius: 50%;
  background-color: #D9662B;
  z-index: 5;
}
.Palestra .verPalest .textInfo .divisor .line::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 41%;
  height: 15vh;
  width: 0.2vw;
  background-color: #D9662B;
  z-index: -2;
}
.Palestra .verPalest img {
  width: 50%;
  height: 75vh;
  padding: 2vh 6vw 2vh 2vw;
}
.Palestra .diferencial {
  z-index: 10;
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
.Palestra .diferencial h2 {
  text-align: center;
  width: 100%;
  padding: 2vh 17vw;
  font-weight: 800;
  font-size: 2.3vw;
  margin: 0;
}
.Palestra .diferencial img {
  width: 45%;
  height: 45vh;
  border-radius: 3vw;
  padding: 1.5vw;
  margin: 0;
  position: absolute;
  top: 22%;
  right: 0;
}
.Palestra .diferencial p {
  margin: 0;
  width: 100%;
  height: auto;
  font-weight: 200;
  font-size: 1.3vw;
  padding: 2vh 33vw 2vh 2vw;
}
.Palestra .diferencial p:nth-child(4) {
  padding: 2vh 2vw 2vh 2vw;
}
.Palestra .imgs_carousel {
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
.Palestra .imgs_carousel h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 800;
  padding: 2vh 10vw 5vh;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item {
  display: flex;
  justify-content: center;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item img {
  border-radius: 3vw;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item .carousel-caption {
  margin: 0;
  padding: 0;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  padding: 1vh 0;
  font-family: "Jost";
  font-size: 1.2vw;
  font-weight: 800;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item .carousel-caption p {
  margin: 0;
  padding: 1vh 0;
  font-family: "Jost";
  font-size: 1vw;
  font-weight: 200;
}
.Palestra .imgs_carousel .carousel .carousel-inner .carousel-item .carousel-caption::before {
  content: "";
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(0.1vw);
          backdrop-filter: blur(0.1vw);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 1vw;
}
.Palestra .imgs_carousel .carousel .carousel-control-prev, .Palestra .imgs_carousel .carousel .carousel-control-next {
  background: none;
  width: auto;
  height: 12vh;
  padding: 0;
  top: 40%;
  opacity: 1;
  border: none;
}
.Palestra .imgs_carousel .carousel .carousel-control-prev svg, .Palestra .imgs_carousel .carousel .carousel-control-next svg {
  width: auto;
  height: 12vh;
}
.Palestra .imgs_carousel .carousel .carousel-control-prev svg path, .Palestra .imgs_carousel .carousel .carousel-control-next svg path {
  fill: #D9D9D9;
}
.Palestra .contatoPalest {
  height: 50vh;
  display: flex;
  color: #D9D9D9;
  justify-content: center;
}
.Palestra .contatoPalest img {
  width: 50%;
  height: 50vh;
  padding: 5vh 7.5vw;
}
.Palestra .contatoPalest .infosInside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Palestra .contatoPalest .infosInside h4 {
  font-weight: 200;
  font-size: 1.8vw;
  text-align: center;
  padding: 1.5vh 0;
  margin: 0 0 2vh 0;
}
.Palestra .contatoPalest .infosInside h4 b {
  font-weight: 800;
}
.Palestra .contatoPalest .infosInside h3 {
  font-size: 2vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 1vw;
  margin: 0 0 5vh 0;
}
.Palestra .contatoPalest .infosInside .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 5vw;
}
.Palestra .contatoPalest .infosInside .botao:hover {
  transform: translateY(5px);
}
.Palestra .calendario {
  display: flex;
  color: #D9D9D9;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}
.Palestra .calendario h2 {
  width: 100%;
  text-align: center;
  padding: 2vh 0;
  margin: 4vh 0 1vh;
  font-weight: 800;
  font-size: 2.2vw;
}
.Palestra .calendario .calendarBlock {
  width: 100%;
  display: flex;
  padding: 2vh 0 0;
}
.Palestra .calendario .calendarBlock #calendarList {
  width: 30%;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar {
  margin-bottom: 1.5vh;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk {
  margin: 0;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk:nth-child(1) h2 {
  margin: 0;
  font-size: 1.8vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk:nth-child(3) {
  margin: 0;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
  margin: 0;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button {
  background: #F9884E;
  border: #D9662B 1px solid;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:nth-child(2) {
  border-radius: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-view-harness {
  position: relative;
}
.Palestra .calendario .calendarBlock #calendarList .fc-view-harness::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.2);
  -webkit-backdrop-filter: blur(0.05vw);
          backdrop-filter: blur(0.05vw);
}
.Palestra .calendario .calendarBlock #calendarList .fc-cell-shaded a {
  color: #D9662B;
  font-size: 1.1vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event {
  background-color: #D9D9D9;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event td {
  color: #000000;
  opacity: 1;
  font-size: 1vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event td:nth-child(1) {
  padding: 1.5vh 1.5vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event td:nth-child(2) {
  padding: 1.5vh 1vw 1.5vh 2vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event td:nth-child(3) {
  padding: 1.5vh 0vw;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event:hover {
  background-color: #D9D9D9;
}
.Palestra .calendario .calendarBlock #calendarList .fc-event:hover td {
  color: #D9662B;
}
.Palestra .calendario .calendarBlock #calendar {
  width: 70%;
  padding: 0 0 0 2vw;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar {
  margin-bottom: 1.5vh;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk {
  margin: 0;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
  margin: 0;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(1) button {
  background: #F9884E;
  border: #D9662B 1px solid;
  border-radius: 1vw;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(2) h2 {
  margin: 0;
  font-size: 1.8vw;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) {
  margin: 0;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
  margin: 0;
  padding: 0;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button {
  background: #F9884E;
  border: #D9662B 1px solid;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.Palestra .calendario .calendarBlock #calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button:nth-child(2) {
  border-radius: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.Palestra .calendario .calendarBlock #calendar .fc-scrollgrid a {
  color: #D9D9D9;
}
.Palestra .calendario .calendarBlock #calendar .fc-daygrid-day-frame {
  position: relative;
}
.Palestra .calendario .calendarBlock #calendar .fc-daygrid-day-frame::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.2);
  -webkit-backdrop-filter: blur(0.05vw);
          backdrop-filter: blur(0.05vw);
}
.Palestra .calendario .calendarBlock #calendar .fc-day-today {
  position: relative;
}
.Palestra .calendario .calendarBlock #calendar .fc-day-today::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 156, 105, 0.5);
  -webkit-backdrop-filter: blur(0.1vw);
          backdrop-filter: blur(0.1vw);
}
.Palestra .intro_curso {
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
.Palestra .intro_curso h2 {
  text-align: center;
  width: 100%;
  padding: 2vh 17vw;
  font-weight: 800;
  font-size: 2.5vw;
  margin: 0 0 3vh 0;
}
.Palestra .intro_curso p {
  font-size: 1.3vw;
  font-weight: 200;
  padding: 1vh 10vw;
  text-align: center;
}
.Palestra .maisInfo_curso {
  z-index: 10;
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}
.Palestra .maisInfo_curso h2 {
  text-align: center;
  width: 100%;
  padding: 2vh 15vw;
  font-weight: 800;
  font-size: 2.5vw;
  margin: 0 0 5vh 0;
}
.Palestra .maisInfo_curso img {
  width: 35%;
  height: 30vh;
  border-radius: 3vw;
  padding: 1.5vw;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 0;
}
.Palestra .maisInfo_curso p {
  margin: 0;
  width: 100%;
  height: auto;
  font-weight: 200;
  font-size: 1.3vw;
  padding: 2vh 2vw 2vh 26vw;
}
.Palestra .maisInfo_curso p:nth-child(4) {
  padding: 2vh 2vw 2vh 2vw;
}
.Palestra .contatoCurso {
  height: 50vh;
  display: flex;
  color: #D9D9D9;
  justify-content: center;
}
.Palestra .contatoCurso img {
  width: 50%;
  height: 50vh;
  padding: 5vh 7.5vw;
}
.Palestra .contatoCurso .infosInside {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Palestra .contatoCurso .infosInside h4 {
  font-weight: 200;
  font-size: 1.8vw;
  text-align: center;
  padding: 1.5vh 0;
  margin: 0 0 2vh 0;
}
.Palestra .contatoCurso .infosInside h4 b {
  font-weight: 800;
}
.Palestra .contatoCurso .infosInside h3 {
  font-size: 2vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 1vw;
  margin: 0 0 5vh 0;
}
.Palestra .contatoCurso .infosInside .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 2vw;
}
.Palestra .contatoCurso .infosInside .botao:hover {
  transform: translateY(5px);
}/*# sourceMappingURL=style.css.map */