@import 'colors_fonts';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}

.hide {
    opacity: 0;
    display: none;
}
::-webkit-scrollbar {
    width: 0.5vw;
    background: $LaranjaClaro;
}
::-webkit-scrollbar-thumb {
    background: $LaranjaEscuro;
    border-radius: 5vw;
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes floater {
    0%{transform: translateY(0px)}
    50%{transform: translateY(15px)}
    100%{transform: translateY(0px)}
}
@keyframes foguete_subindo {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-125vh);
      opacity: 0;
    }
}

@keyframes Sobe_foguete {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-17vh);
      opacity: 1;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $Main-font;
    background-color: $Preto;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
    position: relative;

    .blinking-star {
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-fill-mode: both;
        animation-direction: alternate;
        position: relative;
    }

    .star {
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 2;
        animation-fill-mode: both;
        animation-direction: alternate;
        position: relative;
        width: 1.5vw;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after,
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\2726";
        }

        &::after {
            background: $Branco;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .StarBackground {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;

            &:nth-child(6) {
                height: 50%;
            }
        }
    }

    .toTop, .toTopInsti {
        display: none;
        position: fixed;
        right: 1.5vw;
        bottom: 2vh;
        z-index: 998;
        cursor: pointer;
        width: 4vw;
        height: 13vh;
        .foguete{
          width: 100%;
          height: 100%;
        }
        .subindo{
            animation: foguete_subindo 1.25s;
        }
    }
    .toTopInsti{
        bottom: -15vh;
    }
    .sobe{
        animation: Sobe_foguete 1.25s;
    }
    .sobePara{
        bottom: 2vh !important;
    }

    header {
        min-width: 1200px;
        width: 75%;
        height: 17vh;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 999;
        position: absolute;
        top: 0;
        nav {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 0;
                li {
                    padding: 0.5vh 1vw;
                    margin: 0 0.5vw;
                    &:nth-child(2) {
                        margin-left: auto;
                    }
                    a {
                        color: $Branco;
                        font-weight: 500;
                        font-size: 1.4vw;
                        &:hover {
                            color: $LaranjaEscuro;
                        }
                    }
                }
                .logo {
                    width: 5.5vw;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .blogDrop {
                    position: relative;
                    padding-right: 3vw;
                    display: flex;
                    align-items: center;
                    a {
                        &:nth-child(2) {
                            position: absolute;
                            right: 0;
                            padding: 0 0.25vw 0 1.5vw;

                            svg {
                                width: 1.4vw;
                            }
                        }

                    }
                    .dropdown-menu {
                        background: none;
                        border: solid 1px $Branco;
                        padding: 1vh 0.5vw;
                        border-radius: 1vw;
                        margin-left: -6.5vw;
                        margin-top: 1.5vh;
                        background-color: $PretoClaro;

                        .dropdown-item {
                            padding: 0.5vh 0.25vw;
                            color: $Branco;

                            &:nth-child(2) {
                                position: relative;
                            }

                            &:hover {
                                background-color: $Preto;
                            }
                        }
                    }
                    &:hover {
                        a {
                            &:nth-child(2) {
                                svg {
                                    path {
                                        fill: $LaranjaEscuro;
                                    }
                                }
                            }

                        }
                    }

                }
            }
        }
    }

    section {
        width: 75%;
        height: 100vh;
        z-index: 5;
    }

    .banner {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        color: $Branco;
        padding: 1vw;
        .infos{
            width: 50%;
            height: 80vh;
            margin-top: 17vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 2vw;
            h1{
                font-size: 3vw;
                line-height: 3.5vw;
                font-weight: 200;
                margin-bottom: 5.5vh;
                animation: floater 5s ease-in-out infinite;

                b{
                    font-weight: 800;
                }
            }
            h2{
                font-weight: 200;
                font-size: 2.5vw;
                margin-bottom: 8vh;
                animation: floater 4.8s ease-in-out infinite;

                b{
                    font-weight: 800;
                }
            }
            .botao{
                background-color: $LaranjaEscuro;
                padding: 0.5vh 0;
                text-align: center;
                color: $Branco;
                font-weight: 500;
                font-size: 1.5vw;
                margin: 0 10vw 0 0;
                border-radius: 3vw;
                transition: ease-in-out 0.2s;
                &:hover{
                    background-color: $LaranjaClaro;
                    transform: translateY(5px);
                }
            }
        }
        .ilustra{
            height: 80vh;
            width: 45.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(217, 101, 43, 0.5);
            font-size: 1.5vw;
            padding: 3vw;
            margin: 17vh 0 7vh 3vw;
            text-align: center;
            border-radius: 2.5vw;
        }
    }

    .blog {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        h2{
            text-align: center;
            color: $Branco;
            font-weight: 800;
            font-size: 2.5vw;
            padding: 0.5vh 0;
            margin-bottom: 4vh;
        }
        .MenuBlog{
            display: flex;
            justify-content: center;
            a{
                text-align: center;
                width: 15vw;
                color: $Branco;
                padding: 1vh 2.5vw;
                font-size: 1.3vw;
                margin: 0 0.5vw;
                border: solid 1px $Branco;
                border-top-left-radius: 1.5vw;
                border-top-right-radius: 1.5vw;
                font-weight: 800;
            }
            .active{
                background-color: $RoxoEscuro;
                border: none;
            }
        }
        .TabsBlog{
            margin-bottom: 1vh;
            height: 70vh;
            .tab-pane{
                height: 100%;
                .boxCards{
                    display: flex;
                    justify-content: space-between;
                    height: 100%;
                    align-items: start;
                    padding: 3vh 0 0 0 ;
                    .cardPostBlog{
                        width: 32%;
                        height: 60vh;
                        position: relative;
                        color: $Branco;
                        border-radius: 2vw;
                        transition: ease-in-out 0.25s;
                        &::before{
                            content: '';
                            background: rgba(33, 33, 33, 0.8);
                            backdrop-filter: blur(1.5px);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            border-radius: 2vw;
                        }
                        .imgBlog{
                            width: 100%;
                            height: 70%;
                            border-radius: 2.1vw;
                            background-color: $BrancoEscuro;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            i{
                                font-size: 5.5vw;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 2vw;
                            }
                        }
                        .icons{
                            display: flex;
                            flex-direction: column;
                            border: solid $Branco 1px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $Branco;
                            padding: 1.5vh 0.5vw;
                            margin: 0;
                            border-top-right-radius: 2vw;
                            border-bottom-left-radius: 2vw;
                            transition: ease-in-out 0.25s;
                            .iconInfo{
                                padding: 0.5vh 0.5vw;
                                display: flex;
                                align-items: center;
                                transition: ease-in-out 0.25s;
                                i{
                                    font-size: 1.1vw;
                                    padding: 0;
                                }
                            }
                        }
                        .active{
                            border: none;
                            background-color: $RoxoEscuro;
                            transition: ease-in-out 0.25s;
                            .iconInfo{
                                padding: 0.5vh 0.5vw;
                                display: flex;
                                align-items: center;
                                transition: ease-in-out 0.25s;
                                i{
                                    font-size: 1.25vw;
                                    padding: 0.5vh 0;
                                }
                                .hide{
                                    display: block;
                                    opacity: 1;
                                    font-size: 1.1vw;
                                    padding-left: 0.5vw;
                                    font-weight: 800;
                                    transition: ease-in-out 0.25s;
                                }
                            }
                        }
                        p{
                            font-size: 1vw;
                            padding: 1.5vh 1.5vw 1vh;
                            margin: 0;
                            font-weight: 200;
                            transition: ease-in-out 0.25s;
                        }
                        h3{
                            font-size: 1.5vw;
                            padding: 0 1.5vw;
                            margin: 1vh 0 0 0;
                            line-height: 1.5vw;
                            transition: ease-in-out 0.25s;
                        }
                    }
                    .menor{
                        width: 29%;
                        height: 58vh;
                        position: relative;
                        color: $Branco;
                        border-radius: 2vw;
                        p{
                            font-size: 0.75vw;
                            padding: 2vh 1.5vw 1vh;
                            margin: 0;
                            font-weight: 200;
                        }
                        h3{
                            font-size: 1.2vw;
                            padding: 0 2.5vw 0 1.5vw;
                            margin: 1vh 0 0 0;
                            line-height: 1.5vw;
                        }
                    }
                    .maior{
                        width: 38%;
                        height: 65vh;
                        position: relative;
                        color: $Branco;
                        border-radius: 2vw;
                        p{
                            font-size: 1.25vw;
                            padding: 1.5vh 1.5vw 1vh;
                            margin: 0;
                            font-weight: 200;
                        }
                        h3{
                            font-size: 1.8vw;
                            padding: 0 1.5vw;
                            margin: 1.25vh 0 0 0;
                            line-height: 1.8vw;
                        }
                    }
                }
            }
        }
        .botao{
            background-color: $RoxoEscuro;
            padding: 0.5vh 0;
            text-align: center;
            color: $Branco;
            font-weight: 500;
            font-size: 1.5vw;
            border-radius: 3vw;
            transition: ease-in-out 0.2s;
            margin: 0 25vw;
            font-weight: 500;
            &:hover{
                background-color: $RoxoClaro;
                transform: translateY(5px);
            }
        }
    }

    .inst {
        display: flex;
        padding: 5vw;
        animation: floater 2.4s ease-in-out infinite;
        .infosInsti{
            width: 50%;
            padding: 1vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: 1.5vw;
                text-align: right;
                color: $Branco;
                font-weight: 200;
                padding-left: 1vw;
                line-height: 1.75vw;
                margin-bottom: 5vh;
                b{
                    font-weight: 800;
                }
            }
            .botao{
                background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
                padding: 0.5vh 2vw;
                text-align: center;
                color: $Branco;
                font-weight: 500;
                font-size: 1.25vw;
                border-radius: 3vw;
                transition: ease-in-out 0.2s;
                font-weight: 500;
                margin: 0;
                &:hover{
                    transform: translateY(5px);
                }
            }
        }
        .imgInst{
            width: 50%;
            display: flex;
            align-items: center;
            padding: 0 2vw;
            img{
                width: auto;
                height: 75%;
            }
        }
        
    }

    .depos {
        color: $Branco;
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
            font-weight: 800;
            font-size: 2vw;
            padding: 1vh 0;
            margin: 5vh 0 1vh;
        }
        h4{
            font-weight: 200;
            text-align: center;
            font-size: 1.5vw;
            padding: 0.5vh 0;
            margin-bottom: 6vh ;
        }    

        .carousel {
            width: 100%;
            height: 65vh;
            display: flex;
            align-items: center;
            .carousel__list {
                overflow: hidden;
                display: flex;
                list-style: none;
                position: relative;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                margin: 0;
                .carousel__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: $Branco;
                    width: 20vw;
                    height: 47vh;
                    border-radius: 1.5vw;
                    position: absolute;
                    transition: all .3s ease-in;
                    padding: 0 2vw;
                    &:nth-child(1) {
                        background: $LaranjaEscuro;
                    }
                    &:nth-child(2) {
                        background: $RoxoEscuro;
                    }
                    &:nth-child(3) {
                        background: $LaranjaEscuro;
                    }
                    &:nth-child(4) {
                        background: $RosaEscuro;
                    }
                    &:nth-child(5) {
                    background: $RoxoEscuro;
                    }
                    &[data-pos="0"] {
                        z-index: 5;
                    }
                    &[data-pos="-1"],
                    &[data-pos="1"] {
                        opacity: 0.7;
                        filter: blur(0.05vw) grayscale(10%);
                    }
                    &[data-pos="-1"] {
                        transform: translateX(-110%) scale(.8);
                        z-index: 4;
                    }
                    &[data-pos="1"] {
                        transform: translateX(110%) scale(.8);
                        z-index: 4;
                    }
                    &[data-pos="-2"],
                    &[data-pos="2"] {
                        opacity: 0.4;
                        filter: blur(0.10vw)  grayscale(20%);
                    }
                    &[data-pos="-2"] {
                        transform: translateX(-195%) scale(.6);
                        z-index: 3;
                    }
                    &[data-pos="2"] {
                        transform: translateX(195%) scale(.6);
                        z-index: 3;
                    }
                    img{
                        width: 6.5vw;
                        border-radius: 1vw;
                        border: solid $Branco 1px;
                        margin: -5vh;
                        position: absolute;
                        top: -1vh;
                        pointer-events: none;
                    }
                    .asp, .asp2{
                        width: 3.5vw;
                        position: absolute;
                        pointer-events: none;
                    }
                    .asp{
                        top: -3.5vh;
                        left: -2vw;
                    }
                    .asp2{
                        transform: rotate(180deg);
                        bottom: -3.5vh;
                        right: -2vw;
                    }
                    p{
                        font-weight: 200;
                        text-align: center;
                        font-size: 1.1vw;
                        margin-top: 4vh;
                        pointer-events: none;
                    }
                    span{
                        font-weight: 800;
                        font-size: 1vw;
                        pointer-events: none;
                        margin-top: 2vh;
                    }

                }
            }
        }
    }

    .conversa {
        display: flex;
        flex-wrap: wrap;
        padding: 3vh 5vw;
        h2{
            width: 100%;
            color: $Branco;
            text-align: center;
            font-weight: 800;
            padding: 1vh 0;
        }
        .imgConv{
            width: 50%;
            height: 85vh;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 1vw;
            animation: floater 3s ease-in-out infinite;
            img{
                width: auto;
                height: 80%;
            }
        }
        .infosConv{
            width: 50%;
            padding: 1vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: floater 3s ease-in-out infinite;
            p{
                font-size: 1.5vw;
                text-align: left;
                color: $Branco;
                font-weight: 200;
                padding-left: 1vw;
                line-height: 1.75vw;
                margin-bottom: 5vh;
                b{
                    font-weight: 800;
                }
            }
            .botao{
                background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
                padding: 0.5vh 3vw;
                text-align: center;
                color: $Branco;
                font-weight: 500;
                font-size: 1.25vw;
                border-radius: 3vw;
                transition: ease-in-out 0.2s;
                font-weight: 500;
                margin: 0;
                &:hover{
                    transform: translateY(5px);
                }
            }
        }
        
    }

    .contato {
        height: 50vh;
        display: flex;
        flex-direction: column;
        color: $Branco;
        justify-content: center;
        h2{
          font-weight: 200;
          font-size: 2vw;
          text-align: center;
          padding: 1vh 20vh;
          margin: 1vh 0 5vh;
          b{
            font-weight: 800;
          }  
        }
        h3{
            font-size: 2.4vw;
            text-align: center;
            font-weight: 800;
            padding: 2vh 0;
            margin-bottom: 3vh;
        }
        .botao{
            background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
            padding: 0.5vh 3vw;
            text-align: center;
            color: $Branco;
            font-weight: 500;
            font-size: 1.55vw;
            border-radius: 3vw;
            transition: ease-in-out 0.2s;
            font-weight: 500;
            margin: 0 25vw;
            &:hover{
                transform: translateY(5px);
            }
        }
    }

    footer {
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        img {
            width: 12vw;
            height: auto;
            z-index: 3;
            margin-bottom: 1vh;
        }

        .fundo {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
        }

        p {
            z-index: 3;
            color: $Branco;
            margin: 0;
            font-family: 'Jost';
            font-weight: 800;
            font-size: 0.75vw;
        }

        a {
            position: absolute;
            left: 1vw;
            z-index: 3;
            width: 4vw;
            height: 75%;
            padding: 0.5vh 0.5vw;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@import 'institucional';
@import 'servicos';

// @import 'contato';
// @import 'servico';
// @import 'pacotes_Design_Web';