@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;800;900&display=swap);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none !important;
}

.hide {
  opacity: 0;
  display: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #FF9C69;
}

::-webkit-scrollbar-thumb {
  background: #D9662B;
  border-radius: 5vw;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes floater {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes foguete_subindo {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-125vh);
    opacity: 0;
  }
}
@keyframes Sobe_foguete {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-17vh);
    opacity: 1;
  }
}
body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Jost", sans-serif;
  background-color: #080808;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}
body .blinking-star {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction: alternate;
  position: relative;
}
body .star {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  animation-direction: alternate;
  position: relative;
  width: 1.5vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .star::after, body .star::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "✦";
}
body .star::after {
  background: #D9D9D9;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .StarBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
body .StarBackground img {
  width: 100%;
  height: 100%;
}
body .StarBackground img:nth-child(6) {
  height: 50%;
}
body .toTop, body .toTopInsti {
  display: none;
  position: fixed;
  right: 1.5vw;
  bottom: 2vh;
  z-index: 998;
  cursor: pointer;
  width: 4vw;
  height: 13vh;
}
body .toTop .foguete, body .toTopInsti .foguete {
  width: 100%;
  height: 100%;
}
body .toTop .subindo, body .toTopInsti .subindo {
  animation: foguete_subindo 1.25s;
}
body .toTopInsti {
  bottom: -15vh;
}
body .sobe {
  animation: Sobe_foguete 1.25s;
}
body .sobePara {
  bottom: 2vh !important;
}
body header {
  min-width: 1200px;
  width: 75%;
  height: 17vh;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 999;
  position: absolute;
  top: 0;
}
body header nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
body header nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
body header nav ul li {
  padding: 0.5vh 1vw;
  margin: 0 0.5vw;
}
body header nav ul li:nth-child(2) {
  margin-left: auto;
}
body header nav ul li a {
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.4vw;
}
body header nav ul li a:hover {
  color: #D9662B;
}
body header nav ul .logo {
  width: 5.5vw;
}
body header nav ul .logo img {
  width: 100%;
  height: auto;
}
body header nav ul .blogDrop {
  position: relative;
  padding-right: 3vw;
  display: flex;
  align-items: center;
}
body header nav ul .blogDrop a:nth-child(2) {
  position: absolute;
  right: 0;
  padding: 0 0.25vw 0 1.5vw;
}
body header nav ul .blogDrop a:nth-child(2) svg {
  width: 1.4vw;
}
body header nav ul .blogDrop .dropdown-menu {
  background: none;
  border: solid 1px #D9D9D9;
  padding: 1vh 0.5vw;
  border-radius: 1vw;
  margin-left: -6.5vw;
  margin-top: 1.5vh;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item {
  padding: 0.5vh 0.25vw;
  color: #D9D9D9;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item:nth-child(2) {
  position: relative;
}
body header nav ul .blogDrop .dropdown-menu .dropdown-item:hover {
  background-color: #212121;
}
body header nav ul .blogDrop:hover a:nth-child(2) svg path {
  fill: #D9662B;
}
body section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
body .banner {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: #D9D9D9;
  padding: 1vw;
}
body .banner .infos {
  width: 50%;
  height: 80vh;
  margin-top: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2vw;
}
body .banner .infos h1 {
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 200;
  margin-bottom: 5.5vh;
  animation: floater 5s ease-in-out infinite;
}
body .banner .infos h1 b {
  font-weight: 800;
}
body .banner .infos h2 {
  font-weight: 200;
  font-size: 2.5vw;
  margin-bottom: 8vh;
  animation: floater 4.8s ease-in-out infinite;
}
body .banner .infos h2 b {
  font-weight: 800;
}
body .banner .infos .botao {
  background-color: #D9662B;
  padding: 0.5vh 0;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.5vw;
  margin: 0 10vw 0 0;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
}
body .banner .infos .botao:hover {
  background-color: #FF9C69;
  transform: translateY(5px);
}
body .banner .ilustra {
  height: 80vh;
  width: 45.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(217, 101, 43, 0.5);
  font-size: 1.5vw;
  padding: 3vw;
  margin: 17vh 0 7vh 3vw;
  text-align: center;
  border-radius: 2.5vw;
}
body .blog {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
body .blog h2 {
  text-align: center;
  color: #D9D9D9;
  font-weight: 800;
  font-size: 2.5vw;
  padding: 0.5vh 0;
  margin-bottom: 4vh;
}
body .blog .MenuBlog {
  display: flex;
  justify-content: center;
}
body .blog .MenuBlog a {
  text-align: center;
  width: 15vw;
  color: #D9D9D9;
  padding: 1vh 2.5vw;
  font-size: 1.3vw;
  margin: 0 0.5vw;
  border: solid 1px #D9D9D9;
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  font-weight: 800;
}
body .blog .MenuBlog .active {
  background-color: #3A008C;
  border: none;
}
body .blog .TabsBlog {
  margin-bottom: 1vh;
  height: 70vh;
}
body .blog .TabsBlog .tab-pane {
  height: 100%;
}
body .blog .TabsBlog .tab-pane .boxCards {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: start;
  padding: 3vh 0 0 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog {
  width: 32%;
  height: 60vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog::before {
  content: "";
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .imgBlog {
  width: 100%;
  height: 70%;
  border-radius: 2.1vw;
  background-color: #BFBFBF;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .imgBlog i {
  font-size: 5.5vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .imgBlog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons {
  display: flex;
  flex-direction: column;
  border: solid #D9D9D9 1px;
  position: absolute;
  top: 0;
  right: 0;
  color: #D9D9D9;
  padding: 1.5vh 0.5vw;
  margin: 0;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons .iconInfo {
  padding: 0.5vh 0.5vw;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .icons .iconInfo i {
  font-size: 1.1vw;
  padding: 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active {
  border: none;
  background-color: #3A008C;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo {
  padding: 0.5vh 0.5vw;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo i {
  font-size: 1.25vw;
  padding: 0.5vh 0;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog .active .iconInfo .hide {
  display: block;
  opacity: 1;
  font-size: 1.1vw;
  padding-left: 0.5vw;
  font-weight: 800;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog p {
  font-size: 1vw;
  padding: 1.5vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .cardPostBlog h3 {
  font-size: 1.5vw;
  padding: 0 1.5vw;
  margin: 1vh 0 0 0;
  line-height: 1.5vw;
  transition: ease-in-out 0.25s;
}
body .blog .TabsBlog .tab-pane .boxCards .menor {
  width: 29%;
  height: 58vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .menor p {
  font-size: 0.75vw;
  padding: 2vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
}
body .blog .TabsBlog .tab-pane .boxCards .menor h3 {
  font-size: 1.2vw;
  padding: 0 2.5vw 0 1.5vw;
  margin: 1vh 0 0 0;
  line-height: 1.5vw;
}
body .blog .TabsBlog .tab-pane .boxCards .maior {
  width: 38%;
  height: 65vh;
  position: relative;
  color: #D9D9D9;
  border-radius: 2vw;
}
body .blog .TabsBlog .tab-pane .boxCards .maior p {
  font-size: 1.25vw;
  padding: 1.5vh 1.5vw 1vh;
  margin: 0;
  font-weight: 200;
}
body .blog .TabsBlog .tab-pane .boxCards .maior h3 {
  font-size: 1.8vw;
  padding: 0 1.5vw;
  margin: 1.25vh 0 0 0;
  line-height: 1.8vw;
}
body .blog .botao {
  background-color: #3A008C;
  padding: 0.5vh 0;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.5vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  margin: 0 25vw;
  font-weight: 500;
}
body .blog .botao:hover {
  background-color: #621FBF;
  transform: translateY(5px);
}
body .inst {
  display: flex;
  padding: 5vw;
  animation: floater 2.4s ease-in-out infinite;
}
body .inst .infosInsti {
  width: 50%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .inst .infosInsti p {
  font-size: 1.5vw;
  text-align: right;
  color: #D9D9D9;
  font-weight: 200;
  padding-left: 1vw;
  line-height: 1.75vw;
  margin-bottom: 5vh;
}
body .inst .infosInsti p b {
  font-weight: 800;
}
body .inst .infosInsti .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 2vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0;
}
body .inst .infosInsti .botao:hover {
  transform: translateY(5px);
}
body .inst .imgInst {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}
body .inst .imgInst img {
  width: auto;
  height: 75%;
}
body .depos {
  color: #D9D9D9;
  display: flex;
  flex-direction: column;
}
body .depos h2 {
  text-align: center;
  font-weight: 800;
  font-size: 2vw;
  padding: 1vh 0;
  margin: 5vh 0 1vh;
}
body .depos h4 {
  font-weight: 200;
  text-align: center;
  font-size: 1.5vw;
  padding: 0.5vh 0;
  margin-bottom: 6vh;
}
body .depos .carousel {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
}
body .depos .carousel .carousel__list {
  overflow: hidden;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}
body .depos .carousel .carousel__list .carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D9D9D9;
  width: 20vw;
  height: 47vh;
  border-radius: 1.5vw;
  position: absolute;
  transition: all 0.3s ease-in;
  padding: 0 2vw;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(1) {
  background: #D9662B;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(2) {
  background: #3A008C;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(3) {
  background: #D9662B;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(4) {
  background: #9300B3;
}
body .depos .carousel .carousel__list .carousel__item:nth-child(5) {
  background: #3A008C;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="0"] {
  z-index: 5;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-1"], body .depos .carousel .carousel__list .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(0.05vw) grayscale(10%);
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-1"] {
  transform: translateX(-110%) scale(0.8);
  z-index: 4;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="1"] {
  transform: translateX(110%) scale(0.8);
  z-index: 4;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-2"], body .depos .carousel .carousel__list .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(0.1vw) grayscale(20%);
}
body .depos .carousel .carousel__list .carousel__item[data-pos="-2"] {
  transform: translateX(-195%) scale(0.6);
  z-index: 3;
}
body .depos .carousel .carousel__list .carousel__item[data-pos="2"] {
  transform: translateX(195%) scale(0.6);
  z-index: 3;
}
body .depos .carousel .carousel__list .carousel__item img {
  width: 6.5vw;
  border-radius: 1vw;
  border: solid #D9D9D9 1px;
  margin: -5vh;
  position: absolute;
  top: -1vh;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item .asp, body .depos .carousel .carousel__list .carousel__item .asp2 {
  width: 3.5vw;
  position: absolute;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item .asp {
  top: -3.5vh;
  left: -2vw;
}
body .depos .carousel .carousel__list .carousel__item .asp2 {
  transform: rotate(180deg);
  bottom: -3.5vh;
  right: -2vw;
}
body .depos .carousel .carousel__list .carousel__item p {
  font-weight: 200;
  text-align: center;
  font-size: 1.1vw;
  margin-top: 4vh;
  pointer-events: none;
}
body .depos .carousel .carousel__list .carousel__item span {
  font-weight: 800;
  font-size: 1vw;
  pointer-events: none;
  margin-top: 2vh;
}
body .conversa {
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 5vw;
}
body .conversa h2 {
  width: 100%;
  color: #D9D9D9;
  text-align: center;
  font-weight: 800;
  padding: 1vh 0;
}
body .conversa .imgConv {
  width: 50%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 1vw;
  animation: floater 3s ease-in-out infinite;
}
body .conversa .imgConv img {
  width: auto;
  height: 80%;
}
body .conversa .infosConv {
  width: 50%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: floater 3s ease-in-out infinite;
}
body .conversa .infosConv p {
  font-size: 1.5vw;
  text-align: left;
  color: #D9D9D9;
  font-weight: 200;
  padding-left: 1vw;
  line-height: 1.75vw;
  margin-bottom: 5vh;
}
body .conversa .infosConv p b {
  font-weight: 800;
}
body .conversa .infosConv .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.25vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0;
}
body .conversa .infosConv .botao:hover {
  transform: translateY(5px);
}
body .contato {
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
body .contato h2 {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  padding: 1vh 20vh;
  margin: 1vh 0 5vh;
}
body .contato h2 b {
  font-weight: 800;
}
body .contato h3 {
  font-size: 2.4vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 0;
  margin-bottom: 3vh;
}
body .contato .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 25vw;
}
body .contato .botao:hover {
  transform: translateY(5px);
}
body footer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body footer img {
  width: 12vw;
  height: auto;
  z-index: 3;
  margin-bottom: 1vh;
}
body footer .fundo {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
body footer p {
  z-index: 3;
  color: #D9D9D9;
  margin: 0;
  font-family: "Jost";
  font-weight: 800;
  font-size: 0.75vw;
}
body footer a {
  position: absolute;
  left: 1vw;
  z-index: 3;
  width: 4vw;
  height: 75%;
  padding: 0.5vh 0.5vw;
}
body footer a img {
  width: 100%;
  height: 100%;
}

.institucional {
  position: relative;
}
.institucional .StarBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.institucional .StarBackground img {
  width: 100%;
  height: 100%;
}
.institucional .StarBackground img:nth-child(6) {
  height: 100%;
}
.institucional .StarBackground img:nth-child(7) {
  height: 50%;
}
.institucional .fogueteMotion {
  width: 100vw;
  height: 662vh;
  position: absolute;
  overflow: hidden;
}
.institucional .fogueteMotion .linesvg {
  width: 100%;
  height: 650vh;
  position: absolute;
  right: 0;
}
.institucional section {
  width: 75%;
  height: 100vh;
  z-index: 5;
}
.institucional .bannerInsti {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D9D9D9;
}
.institucional .bannerInsti img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.institucional .bannerInsti h1 {
  width: 75%;
  text-align: center;
  margin: 0;
  font-size: 2.5vw;
  font-weight: 800;
  padding: 1vh 0;
}
.institucional .bannerInsti h3 {
  margin-left: 4vw;
  padding: 1vh 2vw;
  width: 37%;
  text-align: left;
  font-size: 1.7vw;
  font-weight: 200;
  line-height: 4vh;
}
.institucional .bannerInsti h3 b {
  font-weight: 800;
}
.institucional .manifesto, .institucional .sobre, .institucional .principios, .institucional .proposito, .institucional .atributos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #D9D9D9;
  font-weight: 500;
}
.institucional .manifesto .infos, .institucional .sobre .infos, .institucional .principios .infos, .institucional .proposito .infos, .institucional .atributos .infos {
  width: 50%;
  padding: 2vh 2vw;
}
.institucional .manifesto .infos h2, .institucional .sobre .infos h2, .institucional .principios .infos h2, .institucional .proposito .infos h2, .institucional .atributos .infos h2 {
  font-size: 2.5vw;
  font-weight: 800;
  padding: 1vh 0;
}
.institucional .manifesto .infos p, .institucional .sobre .infos p, .institucional .principios .infos p, .institucional .proposito .infos p, .institucional .atributos .infos p {
  font-size: 1.25vw;
  font-weight: 500;
  padding: 2vh 0 0;
}
.institucional .manifesto .infos ul, .institucional .sobre .infos ul, .institucional .principios .infos ul, .institucional .proposito .infos ul, .institucional .atributos .infos ul {
  list-style: none;
}
.institucional .manifesto .infos ul li, .institucional .sobre .infos ul li, .institucional .principios .infos ul li, .institucional .proposito .infos ul li, .institucional .atributos .infos ul li {
  font-size: 1.15vw;
  margin: 1vh 0 0 1vw;
}
.institucional .manifesto .infos ul li b, .institucional .sobre .infos ul li b, .institucional .principios .infos ul li b, .institucional .proposito .infos ul li b, .institucional .atributos .infos ul li b {
  font-size: 1.25vw;
}
.institucional .manifesto .imgBlock, .institucional .sobre .imgBlock, .institucional .principios .imgBlock, .institucional .proposito .imgBlock, .institucional .atributos .imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60vh;
}
.institucional .manifesto .imgBlock img, .institucional .sobre .imgBlock img, .institucional .principios .imgBlock img, .institucional .proposito .imgBlock img, .institucional .atributos .imgBlock img {
  width: 100%;
  height: auto;
}
.institucional .manifesto .imgBlock {
  margin-left: 1vw;
}
.institucional .principios .imgBlock {
  margin-left: 5vw;
}
.institucional .atributos .imgBlock {
  margin-left: 8vw;
}
.institucional .contatoInsti {
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: #D9D9D9;
  justify-content: center;
}
.institucional .contatoInsti h4 {
  font-weight: 200;
  font-size: 2vw;
  text-align: center;
  padding: 1vh 20vh;
  margin: 1vh 0 5vh;
}
.institucional .contatoInsti h4 b {
  font-weight: 800;
}
.institucional .contatoInsti h3 {
  font-size: 2.4vw;
  text-align: center;
  font-weight: 800;
  padding: 2vh 0;
  margin-bottom: 3vh;
}
.institucional .contatoInsti .botao {
  background: linear-gradient(270deg, #D9662B 15%, #9300B2 90%);
  padding: 0.5vh 3vw;
  text-align: center;
  color: #D9D9D9;
  font-weight: 500;
  font-size: 1.55vw;
  border-radius: 3vw;
  transition: ease-in-out 0.2s;
  font-weight: 500;
  margin: 0 25vw;
}
.institucional .contatoInsti .botao:hover {
  transform: translateY(5px);
}/*# sourceMappingURL=style.css.map */